#home-page {
  padding: 8px;
  box-sizing: border-box;

  .editor-router-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px lightsalmon;
  }
}

.editor-motion-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.editor-motion-text {
  line-height: 40px;
  font-weight: bold;
  color: #666;
}
