#home-page {
  padding: 8px;
  box-sizing: border-box;

  .line-1px {
    margin: 50px 0;
    height: 1px;
    background-color: #000;
  }

  .line-auto {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      pointer-events: none;
      background-color: #000;
      height: 1px;
      left: 0;
      right: 0;
      top: 0;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        transform: scaleY(0.5);
        transform-origin: 50% 0%;
      }
    }
  }
}
